In [1]:
#  created : 20250113

In [2]:
#  https://www.scientecheasy.com/2022/10/operators-in-python.html/

In [3]:
#  python operators

In [4]:
#  arithmetic operators

In [6]:
x = 20
y = 30
sum = x + y

In [7]:
print("Sum: ", sum)

Sum:  50

In [8]:
#  Type Conversion in Addition Calculation

In [10]:
x = 20 # an integer value.
y = 30.60 # a float value.
sum = x + y # Adding two numbers with + operator.

In [11]:
print("Sum of two numbers: ", sum)

Sum of two numbers:  50.6

In [12]:
#  String Concatenation using (+) Operator

In [13]:
firstName = "John"
lastName = "Michael"
fullName = firstName + lastName

In [14]:
print("Full name: ", fullName)

Full name:  JohnMichael

In [15]:
# List Concatenation using (+) operator

In [16]:
x = [1, 2, 3, 4]
y = [5, 6, 7, 8]
result = x + y

In [17]:
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
x = ('Hello', 20)
y = (20.50, 'Hi')
z = (20, 89)
result = x + y + z

In [19]:
print(result)

('Hello', 20, 20.5, 'Hi', 20, 89)

In [20]:
#  Subtraction Operator (-)

In [21]:
x = 20
y = 30.60
sub = x - y

In [22]:
print("Subtraction: ", +sub)

Subtraction:  -10.600000000000001

In [23]:
# Multiplication Operator (*)

In [26]:
x = 20
y = 20.20
result = x * y

In [27]:
print("Multiplication: ", result)

Multiplication:  404.0

In [29]:
text = 'Hello'
y = 2
result = text * y

In [30]:
print("Result: ", result)

Result:  HelloHello

In [31]:
#  Division Operator (/)

In [33]:
x = 5
y = 5 
z = x / y

In [34]:
print("Division: ", z)

Division:  1.0

In [35]:
x = 2.4 
y = 1.2 
z = x / y

In [36]:
print("Division: ",z)

Division:  2.0

In [37]:
# Modulus Operator (%)

In [38]:
num1 = 23
num2 = 5
num = num1 % num2

In [39]:
print("Remainder after division: ", num)

Remainder after division:  3

In [40]:
x = 2.6
y = 1.2
z = x % y

In [41]:
print("Remainder after division: ", z)

Remainder after division:  0.20000000000000018

In [42]:
# Exponential Operator (**)

In [43]:
num1 = 2
num2 = 4
exp = num1 ** num2

In [44]:
print("Result: ", exp)

Result:  16

In [45]:
x = 1.2
y = 3
exp = x ** y

In [46]:
print("Result: ", exp)

Result:  1.7279999999999998

In [47]:
# Floor Division (//)

In [48]:
num1 = 5
num2 = 2
num = num1 // num2

In [49]:
print("Result: ", num)

Result:  2

In [50]:
x = 12.2
y = 3.1
z = x // y

In [51]:
print("Result: ", z)

Result:  3.0