In [1]:
#  created : 20250113

In [1]:
#  https://www.scientecheasy.com/2022/10/comparison-operators-in-python.html/

In [2]:
#  Comparison  Operators

In [4]:
# Equal to (==)

In [15]:
x = 20
y = 20
print( x == y)

True

In [14]:
p = 'My name is John'
q = 'My name is John'
print( p == q)

True

In [12]:
r = 'Text'
s = 'text'
print( r == s)

False

In [9]:
t = [1, 2, 3, 4]
u = [1, 2, 3]
print( t == u)

False

In [16]:
List1 = [10, 20, 30, 40, 50]
List2 = List1
print( List1 == List2)

True

In [17]:
x = 50.0
y = 50
print(x == y)

True

In [18]:
str1 = 'My name is John'
str2 = str1
print(str1 == str2)

True

In [19]:
a = True
b = 1
print(a == b)

True

In [20]:
#   Not equal to (!=)

In [21]:
x = 50
y = 90
print( x != y)

True

In [22]:
str1 = 'My name is John'
str2 = str1
print( str1 != str2)

False

In [24]:
a = True
b = 1
print( a != b)

False

In [25]:
p = False
q = 0
print( p != q)

False

In [26]:
r = '50'
s = 50
print( r != s)

True

In [27]:
List1 = [10, 20, 'Python', '30']
List2 = [10, 20, 'Python', 30]

In [28]:
print(List1 != List2)

True

In [29]:
Dict1 = {
     1: 'a',
     2: '20'
}
Dict2 = {
    1: 'a',
    2: '20'
}

In [30]:
print(Dict1 != Dict2)

False

In [31]:
#  Greater than (>)

In [32]:
num1 = 60
num2 = 50


print(num1 > num2)
print(num1 + 20 - 20 > num2 + 20)

True
False

In [33]:
n1 = 20
n2 = n1


print(n1 > n2)

False

In [35]:
str1 = 'Python' # --> considered by len
str2 = 'Pythe'


print(str1 > str2)

True

In [37]:
str1 = 'Python' #--> different data type will raise a error 
str2 = 20
print(str1 > str2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [38]:
str1 = 'Python'
str2 = '20'
print(str1 > str2)

True

In [39]:
p = True
q = 2
print(q > p)

True

In [40]:
r = False
s = -1
print(r > s)

True

In [41]:
List1 = [10, 20, 30]
List2 = [10, 20, 40]
print(List1 > List2)

False

In [42]:
#  Less than (<)

In [43]:
num1 = 20
num2 = 20.05
print(num1 < num2)

True

In [44]:
exp1 = 20 * 20 % 20
exp2 = 20 + 20 / 20
print(exp2 < exp1)

False

In [45]:
str1 = 'Python'
str2 = 'Text'
print(str1 < str2)

True

In [46]:
p = True
q = 0
print(q < p)

True

In [47]:
r = False
s = -2
print(r < s)

False

In [48]:
List1 = [1, 2, 3]
List2 = [1, 2, 4]
print(List1 < List2)

True

In [49]:
# Greater than or equal to (>=)

In [50]:
num1 = 20.20
num2 = 20.0200
print(num1 >= num2)

True

In [51]:

x = True + 2
y = False + False + False

print(x >= y)

True

In [53]:
p = 'abcd'
q = 'abcde'

print(p >= q)

False

In [54]:
#  Less than or equal to (<=)

In [55]:
num1 = 40.40
num2 = 40.400
print(num1 <= num2)

True

In [56]:
x = True + 2
y = False + False + False
print(x <= y)

False

In [57]:
p = 'A'
q = 'B'
print(p <= q)

True

In [58]:
# Use of Comparison Operators in Decision Making Statement

In [60]:
# Program to illustrate the use of comparison or relational operators. 
p = 50
q = 60
if(p == q):
    print("p is equal to q")
else:
    print("p is not equal to q")
if(p != q):
    print("p is not equal to q")
else:
    print("p is equal to q")
if(p > q):
    print("p is greater than q")
else:
    print("p is not greater than q")
if(p < q): print("p is less than q") 
else: 
    print("p is not less than q")
if(p >= q):
    print("p is greater than or equal to q")
else:
    print("p is not greater than or equal to q")
if(p <= q):
    print("p is less than or equal to q")
else:
    print("p is not less than or equal to q")

p is not equal to q
p is not equal to q
p is not greater than q
p is less than q
p is not greater than or equal to q
p is less than or equal to q

In [61]:
age = int(input("Enter your age: "))
if(age >= 18):
    print("You are eligible for voting.")
else:
    print("You are not eligible for voting.")

Enter your age:  23

You are eligible for voting.