In [1]:
#  created : 20250113

In [1]:
#  https://www.scientecheasy.com/2022/10/identity-operators-in-python.html/

In [2]:
#  Identity Is operator (is)

In [3]:
x = 20
y = 20
result = x is y

In [4]:
print(result)

True

In [5]:
str1 = "Python"
str2 = "Python"
result = str1 is str2

In [6]:
print(result)

True

In [7]:
name1 = "John"
name2 = "Jack"
result = name1 is name2

In [8]:
print(result)

False

In [9]:
a = True
b = 1
result = a is b

In [10]:
print(result)

False

In [11]:
p = "20"
q = 20
result = p is q

In [12]:
print(result)

False

In [13]:
list1 = [10, 20.5, 30, 'text']
list2 = [10, 20.5, 30, 'text']
result = list1 is list2

In [14]:
print(result)

False

In [15]:
dict1 = {
    'name': 'Jack',
    'age': 22,
}
dict2 = {
    'name': 'Jack',
    'age': 22,
}
result = dict1 is dict2

In [16]:
print(result)

False

In [17]:
tuple1 = (1, 2.5, 3, 'Technology')
tuple2 = (1, 2.5, 3, 'Technology')
result = tuple1 is tuple2

In [18]:
print(result)

False

In [19]:
# Identity Is not operator (is not)

In [20]:
num1 = 30
num2 = 40
print(num1 is not num2)

True

In [21]:
num2 = 30
print(num1 is not num2)

False

In [22]:
str1 = 'Python'
str2 = 'Language'
print(str1 is not str2)

True

In [23]:
list1 = [2, 4, 6, 8, 10]
list2 = [12, 14, 16]
print(list1 is not list2)

True

In [24]:
num1 = 20
num2 = 20

print("num1 = ", num1, " ", "id(num1): ", id(num1))
print("num2 = ", num2, " ", "id(num2): ", id(num2))

num1 =  20   id(num1):  8910408
num2 =  20   id(num2):  8910408

In [25]:
if(num1 is num2):
    print('num1 and num2 have the same identity')
else:
    print('num1 and num2 do not have the same identity')

if(id(num1) == id(num2)):
    print('num1 and num2 have the same identity')
else:
    print('num1 and num2 do not have the same identity')

num1 and num2 have the same identity
num1 and num2 have the same identity

In [26]:
num2 = 40
print("num1 = ", num1, " ", "id(num1): ", id(num1))
print("num2 = ", num2, " ", "id(num2): ", id(num2))

if(num1 is not num2):
    print('num1 and num2 do not have the same identity')
else:
    print('num1 and num2 have the same identity')

num1 =  20   id(num1):  8910408
num2 =  40   id(num2):  8911048
num1 and num2 do not have the same identity