In [1]:
#  created : 20250113

In [2]:
#  https://www.scientecheasy.com/2022/09/data-types-in-python.html/

In [6]:
#  Dynamic data

#  which means we dont want to specify a data type when assigning to a variable
#  the change in the value leads to a change in data type

In [7]:
my_var = "Hi Friends!" # holding string.
my_var = 25 # same variable holding numeric value.
my_var = True #holding a boolean

In [9]:
# print(my_var)

In [12]:
num1 = 10 #--> string value 
percentage = 80.50 # --> floating value

In [13]:
print(num1)
print(percentage)

10
80.5

In [14]:
#  Int Data type

In [15]:
num1 = 10
num2 = 20
num3 = 30

In [16]:
print(num1)
print(num2)
print(num3)

10
20
30

In [17]:
#  Floating data type

In [18]:
num1 = 10.555
num2 = 20.99
result = num1 + num2

In [19]:
print(result)

31.544999999999998

In [20]:
#  Complex Data type

In [21]:
num1 = 2 + 5j
num2 = 3.5 + 7.5j
result = num1 + num2

In [22]:
print(result)

(5.5+12.5j)

In [23]:
#  determine the type of variable

In [24]:
num1 = 50
num2 = 20.50
num3 = 3.5 + 7.5j

In [25]:
print(type(num1))
print(type(num2))
print(type(num3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
num1 = 20
num2 = 50

In [3]:
del num1
print(num1) # --> iwll raise error because num1 deleted

NameError: name 'num1' is not defined

In [4]:
# Boolean Data type

In [6]:
a = (10 >= 4)
b = (25 == 5 * 5)
c = (18 != 2 * 9)

In [7]:
print(a, b, c)

True True False

In [8]:
# None Data type

In [9]:
a = None
print(a)
print(type(a))

None
<class 'NoneType'>

In [10]:
#  String Data type

In [12]:
str1 = "Hello Jerin"
str2 = 'How are you ?'

In [13]:
print(str1)
print(str2)
print(type(str1))

Hello Jerin
How are you ?
<class 'str'>

In [ ]:
#  List Data type

In [14]:
list = [10, 20.50, "Python", True]

In [15]:
print(list)
print(type(list))

[10, 20.5, 'Python', True]
<class 'list'>

In [17]:
num_list = [10, 20, 30, 40]
print(num_list)

[10, 20, 30, 40]

In [18]:
num_list[2] = 50 
print(num_list)

[10, 20, 50, 40]

In [19]:
# Tuple Data type
#

In [20]:
t = (10, 20, "Python", 2 + 10j)
print(t)
print(type(t))

(10, 20, 'Python', (2+10j))
<class 'tuple'>

In [21]:
# Set Data type

In [22]:
s = {1, 2, 'Hello', 4 + 50j}
print(s)
print(type(s))

{1, 'Hello', 2, (4+50j)}
<class 'set'>

In [23]:
# Dictionary Data type

In [24]:
dict = {1 : 'Orange',
        2 : 'Apple',
        3 : 'Banana'}

In [25]:
print(dict)
print(type(dict))

{1: 'Orange', 2: 'Apple', 3: 'Banana'}
<class 'dict'>