In [1]:
import pyutil as pyu
pyu.get_local_pyinfo()

'conda env: py311; pyv: 3.11.9 (main, Apr 19 2024, 16:48:06) [GCC 11.2.0]'

In [2]:
print(pyu.ps2("pandas"))

pandas==2.2.3

In [7]:
# necessary modules
import pandas as pd
import numpy as np

In [8]:
def histogram_intersection(a, b):
    v = np.minimum(a, b).sum().round(decimals=1)
    return v

In [13]:
def startpy():

    df = pd.DataFrame([(.2, .3), (.0, .6), (.6, .0), (.2, .1)],
                  columns=['dogs', 'cats'])

    cor_result = df.corr(method=histogram_intersection)

    return cor_result

In [14]:
startpy()

      dogs  cats
dogs   1.0   0.3
cats   0.3   1.0